altgraph==0.17.5
annotated-types==0.7.0
anyio==4.13.0
certifi==2026.5.20
customtkinter==5.2.2
darkdetect==0.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
ollama==0.6.2
packaging==26.2
pefile==2024.8.26
pydantic==2.13.4
pydantic_core==2.46.4
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pywin32-ctypes==0.2.3
setuptools==82.0.1
typing-inspection==0.4.2
typing_extensions==4.15.0
